.songTitle {
    
}

.songAudio {
    margin: 8px 0 40px 20px;
    display: block;
}

.noBullet {
    list-style-type: none;    
}

.textViewContent span.unclear {
    color: #cc0000;
    font-weight: normal;
}

.right {
    text-align: right !important;
    display: block;
    clear: both;
}

.signed {
    text-align: right !important;
    display: block;
    clear: both;
}

.graphic {
    float: inline-start;
    margin-right: 20px;
    margin-bottom: 20px;
}

.textViewContent{
    max-width: 80%;
}

.textViewContent .teidiv0 > ul {
    margin-left: 0;
}