h1:has(.head){
    display: block;
    background: -moz-linear-gradient(center top , #87E0FD, #05ABE0) repeat scroll 0 0 transparent;
    border: 1px solid #666666;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 5px #333333;
    font-family: "Caudex",Arial,sans-serif;
    font-size: 22.4px;
    margin: 10px 0 30px;
    padding: 5px;
    text-align: center;
}

.songTitle {
    
}

.songAudio {
    margin: 8px 0 40px 20px;
    display: block;
}

.noBullet {
    list-style-type: none;    
}

.textViewContent span.unclear {
    color: #cc0000;
    font-weight: normal;
}

.right {
    text-align: right !important;
    display: block;
    clear: both;
}

.signed {
    text-align: right !important;
    display: block;
    clear: both;
}

.graphic {
    float: inline-start;
    margin-right: 20px;
    margin-bottom: 20px;
}

.note {
  display: inline-block;
  background-color: #e5e5e5;
  color: #666666;
  margin: 0 10px;
}

/** textViewContent **/

.textViewContent{
    max-width: 80%;
}

.textViewContent .teidiv0 > ul {
    margin-left: 0;
}
.textViewContent span.note {
  font-size: smaller;
}
.textViewContent .letter {
  border-top: 1pt solid green;
  border-bottom: 1pt solid green;
}

.textViewContent .letter h1:has(.head) {
  border: none;
  box-shadow: none;
}
