@import '../../../EdiromOnline/resources/sass/_variables.scss';

.taskbarMenu {
    z-index: 50001 !important;
}

#ediromTaskbar {
    z-index: 50000;
}

.summaryViewText .metaData {
    float:left;
    width:auto;
}

.ediromWindow div.textViewContent {
    font-size: 1em;
}


.navigatorItem {
    font-size: 13px;
}

.annotationViewContent .contentBox {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: inherit;
}

.annotationViewContent .metaBox {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: inherit;
    max-height: inherit;
    margin: 10px;
}

.annotationViewContent .previewArea {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10px;
}



.annotView .x-splitter-vertical {

    @include background(radial-gradient(50% 50% , ellipse cover, #999999, #ffffff 50%));

	cursor: ew-resize;
}

.annotView .x-splitter-horizontal {
	
	@include background(radial-gradient(50% 50% , ellipse cover, #999999, #ffffff 50%));
	
	cursor: ns-resize;
}

.annotationViewContent .stepLeft {
	position: absolute;
	top: 50%;
	margin-top: -40px;
	left: -10px;
	width: 50px;
	height: 80px;
	@include background(image-url('../pix/annotPreviewBackward.png'));
	z-index: 20000;
}

.annotationViewContent .stepRight {
	position: absolute;
	top: 50%;
	margin-top: -40px;
	right: -10px;
	width: 50px;
	height: 80px;
	@include background(image-url('../pix/annotPreviewForward.png'));
	z-index: 20000;
}

.annotView .previewArea .previewItem .txtBox {
    background-color: white;
    bottom: 30px;
    @include box-shadow(0 0 5px #333333);
    left: 10px;
    padding: 4px;
    position: absolute;
    right: 10px;
    top: 10px;
    overflow: auto;
}

.renderingViewContent {
	height: 100%;
	width: 100%;
	border: none;
}


/* LIGHTBOX */

#ux-lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 55000;
    text-align: center;
    line-height: 0;
}

#ux-lightbox img {
    width: auto;
    height: auto;
}

#ux-lightbox a img {
    border: none;
}

#ux-lightbox-outerImageContainer {
    position: relative;
    background-color: #f3efec;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

#ux-lightbox-imageContainer {
    padding: 10px;
}

#ux-lightbox-loading{
    position: absolute;
    top: 40%;
    left: 0%;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
    background: url(images/lb-load.gif) no-repeat center 15%;
}

#ux-lightbox-hoverNav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

#ux-lightbox-imageContainer > #ux-lightbox-hoverNav {
    left: 0;
}

#ux-lightbox-hoverNav a{
    outline: none;
}

#ux-lightbox-navPrev,
#ux-lightbox-navNext {
    width: 49%;
    height: 100%;
    *background-image: url(data:image/gif;base64,AAAA); /* Trick IE into showing hover *//* the * is there to avoid errors in other browsers*/
    display: block;
}

#ux-lightbox-navPrev { left: 0; float: left;}
#ux-lightbox-navNext { right: 0; float: right;}
#ux-lightbox-navPrev:hover, #ux-lightbox-navPrev:visited:hover { background: url(images/lb-prev.png) left 33% no-repeat; }
#ux-lightbox-navNext:hover, #ux-lightbox-navNext:visited:hover { background: url(images/lb-next.png) right 33% no-repeat; }

#ux-lightbox-outerDataContainer {
    margin: 0 auto;
    width: 100%;
}

#ux-lightbox-dataContainer{
    font: 10px Verdana, Helvetica, sans-serif;
    background-color: #f3efec;
    overflow: auto;
    line-height: 1.4em;
}

#ux-lightbox-data{    padding:0 10px; color: #666; }
#ux-lightbox-data #ux-lightbox-details{ width: 80%; float: left; text-align: left; }
#ux-lightbox-data #ux-lightbox-caption{ font-weight: bold;    }
#ux-lightbox-data #ux-lightbox-imageNumber{ display: block; clear: left; padding-bottom: 1.0em;    }
#ux-lightbox-data #ux-lightbox-navClose{ background: url(images/lb-close.gif) no-repeat; width: 66px; height: 22px; float: right;  padding-bottom: 0.7em; outline: none;}
#ux-lightbox-data #ux-lightbox-navClose:hover{ background-image: url(images/lb-close-over.gif);}

#ux-lightbox-overlay,
#ux-lightbox-shim{
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 54999 !important;
    width: 100%;
    height: 100%;
    background-color: #000;
    padding: 0;
    margin: 0;
}

#ux-lightbox-shim {
    z-index: 89;
    background-color: transparent;
    filter: alpha(opacity=0);
}

/* the box-sizing stuff is there to overload the .x-border-box modified by extjs' theme */
#ux-lightbox-bottomNav, #ux-lightbox-bottomNav *{    box-sizing:content-box;-moz-box-sizing:content-box;-ms-box-sizing:content-box;-webkit-box-sizing:content-box }


@font-face {
    font-family: 'musicFont';
    src: url('../fonts/musicalsymbolstextgrid161-webfont.eot');
    src: url('../fonts/musicalsymbolstextgrid161-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/musicalsymbolstextgrid161-webfont.woff') format('woff'),
         url('../fonts/musicalsymbolstextgrid161-webfont.ttf') format('truetype'),
         url('../fonts/musicalsymbolstextgrid161-webfont.svg#musicalsymbolstextgridregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.sup {
    vertical-align: top;
    font-size: smaller;
}

.sub {
    vertical-align: bottom;
    font-size: smaller;
}

.latintype {
    font-style: italic;
}

.spaced_out {
    letter-spacing: 0.3em;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

div.lg {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
}

div.lg.double-tab {
    padding-left: 30px;
}

.pagebreak {
    background-color: #e5e5e5 !important;
    color: #666666 !important;
    font-weight: normal !important;
    font-size: smaller;
}

.textViewContent {
    font-size: 1.2em !important;
    padding: 25px !important; 
}

div.absatzlinie {
    height: 1px;
    margin: 30px 40px 50px;
    background-color: #666666;
}

span.note {
    display: inline-block;
    background-color: #e5e5e5;
    color: #666666;
    margin: 0 10px;
}

.musicFont {
    font-family: 'musicFont';
}

h2 span.main {
    display: block;
    @include background(linear-gradient(center top , #87E0FD, #05ABE0) repeat scroll 0 0 transparent);
    border: 1px solid #666666;
    border-radius: 5px 5px 5px 5px;
    @include box-shadow(0 0 5px #333333);
    font-family: "Caudex",Arial,sans-serif;
    font-size: 22.4px;
    margin: 10px 0 30px;
    padding: 5px;
    text-align: center;
}

ul {
    padding-left: 20px;
}

ul li {
    list-style-type: disc;
    list-style-position: inside;
}

a.link_ref, a.link_ref:visited {
    color: #0000ee;
    text-decoration: none;
}

a.link_ref:hover {
    text-decoration: underline;
}